body {
  min-width: 320px; }

.logoutBtn {
  margin-bottom: 15px;
  clear: both; }

footer {
  text-align: center;
  clear: both;
  bottom: 0;
  position: relative; }
  footer img {
    width: 100%; }

#dashboard_page {
  text-align: center; }
  #dashboard_page .header {
    text-align: center; }

.DBNewTrips {
  border: 1px solid black;
  display: inline;
  float: left;
  width: 300px;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px; }
  .DBNewTrips h3 {
    text-align: center; }
  .DBNewTrips ol {
    text-align: center;
    padding: 0; }
    .DBNewTrips ol li {
      list-style: none;
      margin-top: 7px;
      margin-bottom: 7px;
      text-align: center; }

.DBtrips {
  border: 1px solid black;
  display: inline;
  width: 300px;
  margin-bottom: 15px;
  float: left;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 25px; }
  .DBtrips .DBTripContent ol {
    padding: 0; }
    .DBtrips .DBTripContent ol li {
      list-style: none; }

#trains_page {
  margin-right: auto;
  margin-left: auto; }
  #trains_page h2 {
    text-align: center; }
  #trains_page .TPH1 {
    text-align: center;
    padding: 0;
    margin: 0; }
  #trains_page .trainTBL1 {
    display: inline;
    float: left;
    margin-bottom: 50px; }
    #trains_page .trainTBL1 .TrainH {
      padding-right: 7px;
      padding-left: 7px;
      text-align: center; }
      #trains_page .trainTBL1 .TrainH .TrainCap {
        font-weight: 800;
        font-size: 1em; }
  #trains_page .trainTBL2 {
    display: inline;
    float: left;
    margin-top: -54px;
    margin-left: auto; }
    #trains_page .trainTBL2 .TrainH {
      padding-right: 7px;
      padding-left: 7px;
      text-align: center; }
      #trains_page .trainTBL2 .TrainH .TrainCap {
        font-weight: 800;
        font-size: 1em; }
  #trains_page label {
    display: inline; }
  #trains_page table {
    display: inline;
    text-align: center;
    margin-bottom: 15px;
    padding: 4px;
    font-size: .63em;
    float: left; }
    #trains_page table th {
      margin-left: 10px;
      margin-right: 10px; }
    #trains_page table .station {
      text-align: left; }
    #trains_page table .waiting {
      text-align: right; }
    #trains_page table td {
      text-align: center;
      padding: 5px;
      border: 1px solid black;
      background-color: #F6F6F6; }

#bus_page .TPh1 {
  padding: 0;
  margin: 0; }
  #bus_page .TPh1 h2 {
    text-align: center; }

#bus_page .busTBL1 {
  display: inline;
  float: left;
  margin-bottom: 50px; }
  #bus_page .busTBL1 .BusH {
    padding-right: 7px;
    padding-right: 7px;
    text-align: center; }
    #bus_page .busTBL1 .BusH .BusCap {
      font-weight: 800;
      font-size: 1em; }

#bus_page .busTBL2 {
  display: inline;
  float: left;
  margin-top: -54px;
  margin-left: auto; }
  #bus_page .busTBL2 .BusH {
    padding-right: 7px;
    padding-left: 7px;
    text-align: center; }
    #bus_page .busTBL2 .BusH .BusCap {
      font-weight: 800;
      font-size: 1em; }

#bus_page label {
  display: inline; }

#bus_page table {
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 4px;
  font-size: .57em; }
  #bus_page table th {
    margin-left: 10px;
    margin-right: 10px; }
  #bus_page table .location {
    text-align: left; }
  #bus_page table .vehicle {
    text-align: right; }
  #bus_page table td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background-color: #F6F6F6; }

header {
  background-color: #1D6FB1;
  border-bottom: 2px solid black; }

nav {
  height: 55px;
  padding-right: 100px;
  padding-left: 100px; }
  nav ul {
    float: right;
    padding: 0; }
    nav ul li {
      text-decoration: none;
      cursor: pointer;
      display: inline;
      border-bottom-left-radius: 10px;
      border: 2px solid black;
      width: 25px; }
      nav ul li li:hover {
        width: 100px; }
      nav ul li a {
        text-decoration: none; }
      nav ul li a:visited {
        color: #0BA9E0; }

.container {
  background-color: #ffffff;
  text-align: justify;
  margin-left: auto;
  margin-right: auto; }

h1 {
  text-align: center; }

#about_page {
  text-align: center; }
  #about_page .headerContainer {
    padding-right: 7px;
    padding-left: 7px; }
  #about_page .bobby .APimg1 {
    width: 250px; }
  #about_page .bobby button {
    border-radius: 5px; }
  #about_page .bobby a img {
    width: 60px;
    height: 60px; }

#contact_page {
  text-align: center; }
  #contact_page .CPh1 {
    text-align: center; }
  #contact_page .emailUsContainer .APimg2 {
    width: 30%; }
  #contact_page .contactMartaContainer .APimg3 {
    width: 75%; }
  #contact_page .APimg1 {
    width: 75%; }

#login_container {
  height: 450px; }
  #login_container h1 {
    text-align: center;
    font-size: 2em; }
  #login_container form {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    #login_container form .input1 {
      height: 25px;
      width: 300px;
      display: inline;
      margin: 20px; }
    #login_container form .input2 {
      height: 25px;
      width: 300px;
      display: inline;
      margin: 20px; }
    #login_container form .LGbutton {
      clear: both;
      display: inline-block;
      width: 300px;
      margin: 0 20px 20px 20px; }

#registration_page {
  height: 450px; }
  #registration_page h1 {
    text-align: center;
    font-size: 2em; }
  #registration_page form {
    text-align: justify; }
    #registration_page form input {
      width: 150px;
      height: 25px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px; }
  #registration_page .RPEmail:valid {
    background-color: #6DE7A3; }
  #registration_page .RPEmail:invalid {
    background-color: #E95151; }
  #registration_page .RPSub {
    display: block;
    clear: both;
    color: #F6F6F6;
    background-color: #1D6FB1; }
