.container {
  background-color: #ffffff; }

h1 {
  text-align: center; }

header {
  background-color: #1D6FB1;
  border-bottom: 2px solid #000000;
  height: 100px; }
  header nav {
    float: right; }
    header nav a {
      text-decoration: none;
      color: #ffffff; }
      header nav a div {
        display: inline-block;
        height: 100px;
        width: 25px;
        border: 1px solid #000000;
        border-bottom-left-radius: 25%;
        background-color: #E42840;
        margin: 0;
        display: hidden;
        transition: width 2s ease; }
        header nav a div p {
          transform: rotate(85deg);
          padding: 10px; }
      header nav a div:hover {
        width: 150px; }
        header nav a div:hover p {
          transform: rotate(0deg);
          transition-duration: 2000ms; }
    header nav a:visited {
      color: #ffffff; }

#dashboard_page {
  text-align: center; }
  #dashboard_page .breakcontainer {
    padding-right: 7px;
    padding-left: 7px; }
  #dashboard_page .logoutBtn {
    border-radius: 5px; }
  #dashboard_page .DBcontainer .DBtrips {
    width: 300px;
    padding-right: 7px;
    padding-left: 7px;
    display: inline-block;
    float: left; }
    #dashboard_page .DBcontainer .DBtrips .DBTripContent ol {
      list-style: none;
      padding: 0; }
  #dashboard_page .DBcontainer .martaMap {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px; }
  #dashboard_page .DBcontainer .DBNewTrips {
    width: 300px;
    padding-right: 7px;
    padding-left: 7px;
    display: inline-block;
    float: right;
    margin-bottom: 15px; }
    #dashboard_page .DBcontainer .DBNewTrips ol {
      list-style: none;
      padding: none; }
      #dashboard_page .DBcontainer .DBNewTrips ol li button {
        border-radius: 5px; }
  #dashboard_page footer {
    width: 100%;
    clear: both; }
    #dashboard_page footer img {
      width: 100%; }

#trains_page {
  text-align: center; }
  #trains_page .trainCont1 {
    width: 320px;
    float: left;
    margin-bottom: 70px;
    padding-right: 30%; }
    #trains_page .trainCont1 .TrainH {
      padding-right: 10%;
      padding-left: 10%; }
    #trains_page .trainCont1 .trainTBL1 {
      display: inline; }
      #trains_page .trainCont1 .trainTBL1 label {
        text-align: center; }
      #trains_page .trainCont1 .trainTBL1 .trainTable {
        width: 320px;
        display: inline;
        border: 1px solid black; }
  #trains_page table {
    font-size: .6em;
    border: 1px solid black; }
    #trains_page table th {
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid black; }
      #trains_page table th tr {
        border: 1px solid black; }
      #trains_page table th .station {
        border: 1px solid black;
        text-align: left; }
      #trains_page table th td {
        text-align: center;
        padding: 5px;
        border: 1px solid #000000;
        background-color: #F6F6F6; }
  #trains_page .trainCont2 {
    width: 320px;
    float: left;
    margin-top: -54px; }
    #trains_page .trainCont2 label {
      text-align: center; }
    #trains_page .trainCont2 .TrainH {
      padding-left: 10%;
      padding-right: 10%; }
    #trains_page .trainCont2 .trainTBL2 {
      display: inline; }
      #trains_page .trainCont2 .trainTBL2 .TrainH {
        padding-right: 10%;
        padding-left: 10%; }

#bus_page .TPh1 {
  padding: 0;
  margin: 0; }
  #bus_page .TPh1 h2 {
    text-align: center; }

#bus_page .busTBL1 {
  display: inline;
  float: left;
  margin-bottom: 50px; }
  #bus_page .busTBL1 .BusH {
    padding-right: 7px;
    padding-right: 7px;
    text-align: center; }
    #bus_page .busTBL1 .BusH .BusCap {
      font-weight: 800;
      font-size: 1em; }

#bus_page .busTBL2 {
  display: inline;
  float: left;
  margin-top: -54px;
  margin-left: auto; }
  #bus_page .busTBL2 .BusH {
    padding-right: 7px;
    padding-left: 7px;
    text-align: center; }
    #bus_page .busTBL2 .BusH .BusCap {
      font-weight: 800;
      font-size: 1em; }

#bus_page label {
  display: inline; }

#bus_page table {
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 4px;
  font-size: .57em; }
  #bus_page table th {
    margin-left: 10px;
    margin-right: 10px; }
  #bus_page table .location {
    text-align: left; }
  #bus_page table .vehicle {
    text-align: right; }
  #bus_page table td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background-color: #F6F6F6; }

#about_page {
  text-align: center; }
  #about_page .headerContainer {
    padding-right: 7px;
    padding-left: 7px; }
  #about_page .bobby .APimg1 {
    width: 250px; }
  #about_page .bobby button {
    border-radius: 5px; }
  #about_page .bobby a img {
    width: 60px;
    height: 60px; }

#contact_page {
  text-align: center; }
  #contact_page .CPh1 {
    text-align: center; }
  #contact_page .emailUsContainer .APimg2 {
    width: 30%; }
  #contact_page .contactMartaContainer .APimg3 {
    width: 75%; }
  #contact_page .APimg1 {
    width: 75%; }

#login_container {
  height: 450px; }
  #login_container h1 {
    text-align: center;
    font-size: 2em; }
  #login_container form {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    #login_container form .input1 {
      height: 25px;
      width: 225px;
      display: inline;
      margin: 20px; }
    #login_container form .input2 {
      height: 25px;
      width: 225px;
      display: inline;
      margin: 20px; }
    #login_container form .LGbutton {
      clear: both;
      display: inline-block;
      width: 300px;
      margin: 0 20px 20px 20px; }
  #login_container h2 {
    text-align: center; }
    #login_container h2 a {
      text-decoration: none; }
    #login_container h2 a:visited {
      color: #282828; }

#registration_page {
  text-align: center; }
  #registration_page h1 {
    text-align: center; }
  #registration_page form {
    min-width: 300px; }
    #registration_page form input {
      width: 175px;
      margin: 10px 5px; }
    #registration_page form button {
      clear: both;
      border-radius: 5px; }
