footer {
  text-align: center; }
  footer img {
    width: 100%; }

.DBNewTrips {
  border: 1px solid black;
  display: inline;
  float: right;
  width: 450px;
  height: 500px;
  margin-bottom: 15px; }

.DBtrips {
  border: 1px solid black;
  display: inline;
  width: 450px;
  height: 500px;
  margin-bottom: 15px;
  float: left; }
  .DBtrips .DBTripContent {
    border: 1px solid black; }

#trains_page .TPH1 {
  text-align: center;
  padding: 0;
  margin: 0; }

#trains_page .trainTBL1 {
  display: inline;
  float: left; }

#trains_page .trainTBL2 {
  display: inline;
  float: left;
  margin-top: -54px;
  margin-left: 25px; }

#trains_page label {
  display: inline; }

#trains_page table {
  display: inline;
  text-align: center;
  margin-bottom: 15px;
  padding: 4px;
  font-size: .67em;
  float: left; }
  #trains_page table th {
    margin-left: 10px;
    margin-right: 10px; }
  #trains_page table .station {
    text-align: left; }
  #trains_page table .waiting {
    text-align: right; }
  #trains_page table td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background-color: #F6F6F6; }

#bus_page table {
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 4px; }
  #bus_page table th {
    margin-left: 10px;
    margin-right: 10px; }
  #bus_page table .location {
    text-align: left; }
  #bus_page table .vehicle {
    text-align: right; }
  #bus_page table td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background-color: #F6F6F6; }

header {
  background-color: #1D6FB1;
  border-bottom: 2px solid black; }

nav {
  height: 55px;
  padding-right: 100px;
  padding-left: 100px; }
  nav ul {
    float: right; }
    nav ul li {
      text-decoration: none;
      cursor: pointer;
      display: inline;
      border-bottom-left-radius: 10px;
      border: 2px solid black;
      width: 25px; }
      nav ul li li:hover {
        width: 100px; }
      nav ul li a {
        text-decoration: none; }
      nav ul li a:visited {
        color: #0BA9E0; }

.container {
  background-color: #ffffff;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px; }

h1 {
  text-align: center; }

.bobby {
  display: inline;
  float: left; }

.bobby img {
  width: 240px; }

.bobby h4 img {
  width: 50px; }

.chris {
  margin-left: 650px; }

.chris img {
  width: 160px; }

.chris h4 img {
  width: 50px; }

.phonePic h4 {
  float: right;
  margin-top: -200px;
  margin-right: 192px; }

.phonePic img {
  float: right; }

button.BPbut {
  width: 100px;
  height: 60px; }

.CPh1 input {
  width: 300px;
  height: 300px; }

button.BPbut {
  width: 100px;
  height: 60px; }

#login_container h1 {
  text-align: center;
  font-size: 2em; }

#login_container form {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  #login_container form .input1 {
    height: 25px;
    width: 300px;
    display: inline;
    margin: 20px; }
  #login_container form .input2 {
    height: 25px;
    width: 300px;
    display: inline;
    margin: 20px; }
  #login_container form .LGbutton {
    clear: both;
    display: inline-block;
    width: 300px;
    margin: 0 20px 20px 20px; }

#registration_page {
  height: 450px; }
  #registration_page h1 {
    text-align: center;
    font-size: 2em; }
  #registration_page form {
    text-align: justify; }
    #registration_page form input {
      width: 150px;
      height: 25px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px; }
  #registration_page .RPEmail:valid {
    background-color: #6DE7A3; }
  #registration_page .RPEmail:invalid {
    background-color: #E95151; }
  #registration_page .RPSub {
    display: block;
    clear: both;
    color: #F6F6F6;
    background-color: #1D6FB1; }

#login_container {
  height: 450px; }
