<div id="registration_page">

  <h1>Registration</h1>

  <form ng-submit="registration(user)">
    <input type='text' placeholder='First Name' ng-model="user.firstName" />
    <input type='text' placeholder='Last Name' ng-model="user.lastName"/>
    <input type='text' placeholder='Desired Username' ng-model="user.username"/>
    <input type='password' placeholder='Password' maxlength='20' ng-model="user.password" />
    <input type='email' placeholder='Email' class='RPEmail' ng-model="user.email"/>
    <input type='text' placeholder='Age' ng-model="user.age" />
    <input type='text' placeholder='Zipcode' class="zipCode" ng-model="user.zipCode"/>
    <button class='RPSub'>Register</button>
  </form>



</div>