//Color Variables
$background: #d6d6d6;
$navBarColors: #1E4064;
$invalid: #E95151;
$valid: #6DE7A3;
$buttonColors:#F6F6F6;
$table: #F6F6F6;


//Global Elements

//Main Page Style


//Trains
#trains_page {


  table {
    display: inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 4px;

    th {
      margin-left: 10px;
      margin-right: 10px;
    }
    .station {
      text-align: left;
    }
    .waiting {
      text-align: right;
    }
    td {
      text-align: center;
      padding: 5px;
      border: 1px solid black;
      background-color: $table;
    }
  }
}


//Header
header {
  background-color: $navBarColors;
  border-bottom: 2px solid black;
}

  nav{
    height: 55px;
    padding-right: 100px;
    padding-left: 100px;

  ul {
    float: right;
    li {
      text-decoration: none;
      cursor: pointer;
      display: inline;

      a {
        text-decoration: none;

        button{
          border-radius: 5%;
        }

      }
      a:visited {
        color: blue;
      }
    }
   }
  }


.container {
  padding-left: 25px;
  padding-right: 25px;
  background-color: $background;
  min-width: 500px;
  text-align: justify;
}

h1 {
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $navBarColors;
  border: 2px solid black;
  clear: both;
}
//About Page Style
.bobby {
  display: inline;
  float: left; }

.bobby img {
  width: 227px; }

.bobby h4 img {
  width: 50px; }

.chris {
  margin-left: 650px; }

.chris img {
  width: 300px; }

.chris h4 img {
  width: 50px; }


//DashBoard Style

//Contact Style
.phonePic h4 {
  float: right;
  margin-top: -200px;
  margin-right: 192px; }

.phonePic img {
  float: right; }

button.BPbut {
  width: 100px;
  height: 60px; }


 .CPh1 input {
  width: 300px;
  height: 300px;


}
// .i {
// background-color: blue;
// }
button.BPbut {
   width: 100px;
   height: 60px;

}





//Trains Style

//Login Style

#login_container {


  h1 {
    text-align: center;
    font-size: 2em;
  }

  form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .input1 {
      // float: left;
      height: 25px;
      width: 300px;
      display: inline;
      margin: 20px;
    }
    .input2 {
      // float: left;
      height: 25px;
      width: 300px;
      display: inline;
      margin: 20px;
    }
    .LGbutton {
      clear: both;
      display: inline-block;
      width: 300px;
      // float: left;
      margin: 0 20px 20px 20px;
    }
  }
}

//Registration Style

#registration_page {

  height: 450px;

  h1 {
    text-align: center;
    font-size: 2em;
  }

form {
  text-align: justify;

  input {
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
}
  .RPEmail:valid {
    background-color: $valid;
  }
  .RPEmail:invalid {
    background-color: $invalid;
  }

  .RPSub {
    display: block;
    clear: both;
    color: $buttonColors;
    background-color: $navBarColors;
  }

}

//Login Page

#login_container {
  height: 450px;
}
