<div id="bus_page" ng-controller="Buses">





 <h1 class='TPh1'>Which Bus would you like to board?</h1>

 <div class="busTBL1">
  <!-- Route Finder -->
  <label>Search by Route: <input ng-model="searchText" placeholder="Search by Route"></label>
  <!-- Refresh Button -->
  <button ng-click="refresh()">Refresh</button><br>
  <!-- Bus Info -->
    <table class="busTable">
    <caption>Northbound Buses</caption>
      <tr>
        <th>Current Location</th>
        <th>Next Arrival</th>
        <th>Vehicle Number</th>
        <th>Route</th>
        <th>Direction</th>
      </tr>
      <!-- Bus Realtime Data -->
      <tr ng-repeat="bus in northBus| orderBy: ['ROUTE', 'TIMEPOINT'] | filter: searchText">
        <td class="location">{{ bus.TIMEPOINT }}</td>
        <td>{{ bus.ADHERENCE }}</td>
        <td class="vehicle">{{ bus.VEHICLE }}</td>
        <td>{{ bus.ROUTE }}</td>
        <td>{{ bus.DIRECTION }}</td>
        </tr>
    </table>
    </div>
    <br><br><br>
    <!-- Bus Info -->
    <div class="busTBL2">
    <label>Search by Location: <input ng-model="searchText2" placeholder="Search by Route"></label><br>
    <table>
    <caption>Southbound Buses</caption>
      <tr>
        <th>Current Location</th>
        <th>Next Arrival</th>
        <th>Vehicle Number</th>
        <th>Route</th>
        <th>Direction</th>
      </tr>
      <!-- Bus Realtime Data -->
      <tr ng-repeat="bus in southBus| orderBy: ['ROUTE', 'TIMEPOINT'] | filter: searchText2" >
        <td class="location">{{ bus.TIMEPOINT }}</td>
        <td>{{ bus.ADHERENCE }}</td>
        <td>{{ bus.VEHICLE }}</td>
        <td>{{ bus.ROUTE }}</td>
        <td>{{ bus.DIRECTION }}</td>
      </tr>
    </table>
</div>
</div>

</div>
