<div id="about_page">


<h2>About the Creators</h2>

<div class="bobby">


  <img src="images/Bio Pic.jpg" class='APimg1'>




    <!-- <h4><a href="#">Read More</a></h4> -->
    <button ng-click='toggleModal()'>Read More</button>
    <modal-dialog show='dialogShown'  width='750px' height='60%' dialog-title='Bobby Fine'>
    <p>Hello Bobby</p>
    </modal-dialog>
    <h4><a href="mailto:robertfine4631@icloud.com">Email Bobby</a></h4>
    <h4><a href="https://github.com/robertfine4631">Github Username</a></h4>
    <h4><a href="https://github.com"><img src="images/Octicons-mark-github.svg.png" ></a></h4>

</div>

<div class="chris">

  <img src="images/IMG_9754.JPG" class='APimg1'>
    <!-- <h4><a href="#">Read More</a></h4> -->
    <button ng-click='toggleChrisModal()'>Read More</button>
    <modal-dialog show='chrisDialogShown'  width='750px' height='60%' dialog-title='Christian Bustamante'>
    <p>hello chris</p>
    </modal-dialog>
    <h4><a href="mailto:chrisbusta@hotmail.com">Email Chris</a></h4>
    <h4><a href="https://github.com/chrisbusta">Github Username</a></h4>
    <h4><a href="https://github.com"><img src="images/Octicons-mark-github.svg.png" ></a></h4>


</div>





</div>

